
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Asignar Revisor</h1>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-6">
			<div>
				<h3 id="projectName"></h3>
			</div>
				  <div class="tasks-container">
				  	  <table id="tbltaskinfo" style="width:50%">
				  	  	<tbody>
					  	  	
				  	  	</tbody>
				  	  </table>
				  	  <div>
				  		<form id="assignReviewer" action="#" method="POST">
				  			<Label>Asignar Revisor</Label><input type="text" id="reviewer"></input>
				  			<Button class="completeAssign">Guardar</Button>
				  		</form>
				  	  </div>
				  </div> 
				  
		</div>
		
	</div>
	<!-- /.row -->

</div>
<!-- /.container-fluid -->